body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #f3f4f6;
    padding: 20px;
}

.heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.8s;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px auto;
    filter: drop-shadow(0 0 20px rgba(88, 138, 186, 0.25));
    transition: 0.4s;

}

.price {
    color: green;
    font-size: 22px;
    margin: 10px 0;
}

button {
    background-color: #1724d9;
    background: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

button:hover {
    background: #005ecb;
    transform: scale(1.08);
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}